html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 900px;
}

.header {
  flex: 0 0 66px;
  background-color: #07569a;
}

.header__inner {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1440px;
}

.header-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 66px;
}

.header-container__logo {
  border-right: 1px solid rgba(255, 255, 255, .6);
  border-left: 1px solid rgba(255, 255, 255, .6);
  width: 234px;
  box-sizing: border-box;
}

.header-container__cart {
  border-left: 1px solid rgba(255, 255, 255, .6);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__link {}

.logo__image {}

.short-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.short-cart__link {
  position: relative;
  padding-left: 46px;
}

.short-cart__link::before {
  position: absolute;
  left: 0;
  content: '';
  width: 41px;
  height: 40px;
  background-image: url(../images/cart.svg);
}

.short-cart__link:link,
.short-cart__link:visited,
.short-cart__link:hover,
.short-cart__link:active {
  color: #fff;
  text-decoration: none;
}

.short-cart__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.short-cart__amount {}


.content {
  flex-grow: 1;
}

.content__inner {
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
  min-width: 900px;
  max-width: 1440px;
  height: 100%;
}

.content__aside {
  flex: 0 0 234px;
  background-color: #E5E4E5;
}

.content__block {
  flex: 1 1 100%;
  padding: 20px 0 20px 30px;
}

.content__title {
  margin: 40px 0 10px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
}

.menu {
  padding: 20px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  list-style: none;
  margin-bottom: 20px;
}

.menu__link:link,
.menu__link:visited,
.menu__link:hover,
.menu__link:active {
  color: #000;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.breadcrumbs {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  list-style: none;
  display: inline-block;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '›';
  display: inline-block;
  margin: 0 5px;
}

.breadcrumbs__link:link,
.breadcrumbs__link:visited,
.breadcrumbs__link:hover,
.breadcrumbs__link:active {
  color: #3072C4;
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.goods {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.goods__item {
  flex: 0 1 33.3333%;
  box-sizing: border-box;
  padding: 20px 20px 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.goods__img-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  flex: 0 1 169px;
}

.goods__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.goods__link:link,
.goods__link:visited,
.goods__link:hover,
.goods__link:active {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.goods__link:hover {
  text-decoration: underline;
}

.goods__sku {
  font-size: 16px;
  color: #A0A0A0;
  margin-bottom: 20px;
}

.goods__price {
  margin-top: auto;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.goods__cart {
  align-self: flex-start;
  display: flex;
  align-items: center;
  background-color: #07569A;
  border: 1px solid #1D85D0;
  border-radius: 1px;
  color: #fff;
  padding: 10px;
}

.goods__cart-img {
  width: 19px;
  height: 18px;
  margin-right: 5px;
}

.footer {
  flex: 0 0 52px;
}

.footer__inner {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1440px;
  border-top: 1px solid #D4D4D4;
}

.footer__copywright {
  font-size: 16px;
}
